<section class="<%=sectionClasses%>" style="<%=sectionStyles%>">
    <div class="builder-section-content">
        <%_.forEach(gallerySections, function (gallerySection) {%>
        <div class="builder-gallery-item" onclick="return false;">
            <figure class="builder-gallery-image" style="background-image: url(&#039;<%= gallerySection['background-image']%>&#039;);"></figure>
            <div class="builder-gallery-content">
                <div class="builder-gallery-content-inner">
                    <div class="builder-gallery-description">
                        <%=gallerySection.description%>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</section>