<html>
    <body>
        <textarea rows="50" cols="100" id="data"><%= testData %></textarea>
        <input type="button" value="save" id="save" onClick="save()" />
        <span id="myDiv"></span>
    </body>
    <script type="text/javascript">
        var xmlhttp;
        if (window.XMLHttpRequest) {
          xmlhttp=new XMLHttpRequest();
        } else {
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        function save () {
            document.getElementById("myDiv").innerHTML = '';
            xmlhttp.open("POST","http://<%= host %>/parse",false);
            xmlhttp.send(document.getElementById("data").value);
            a = eval('(' + xmlhttp.responseText + ')');
            if ('failure' == a["status"]) {
                document.getElementById("myDiv").innerHTML = a['data'];
            }
        }
    </script>
</html>