<section class="<%=sectionClasses%>" style="<%=sectionStyles%>">
    <h3 class="builder-text-section-title">
    </h3>
    <div class="builder-section-content">
        <div class="builder-text-column builder-text-column-1">
            <div class="builder-text-content">
                <p>
                <div class="ttfmake-embed-wrapper aligncenter" style="max-width: 960px;"><iframe width="<%= width%>" height="<%= height%>" src="<%=videoUrl%>" frameborder="0" allowfullscreen></iframe></div>
                </p>
            </div>
        </div>
    </div>
</section>