{
    "rules": {
        "indent": [
            2,
            2,
            { "SwitchCase": 1 }
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "react/prop-types": 0,
        "react/no-did-mount-set-state": 0,
        "react/no-direct-mutation-state": 0,
        "react/no-danger": 0
    },
    "globals": {
        "require": true,
        "process": true,
        "module": true,
        "Rollbar": true,
        "cloudinary": true,
        "SimpleMDE": true,
        "firebase": true,
        "configParams": true
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}
