<div class="<%= sectionClasses %>" style="<%=sectionStyles%>">
    <div class="module-content">
        <%_.forEach(contentSections, function (contentSection, index) {%>
            <div class="module-column module-c<%= contentSections.length %> module-c<%= contentSections.length %>-<%= contentSection.size %> <%= contentSection.sectionClasses %>" style="<%=contentSection.sectionStyles%>">
                <div class="module-content">
                <% if ('image' == contentSection.type) { %>
                    <% if ('small' == contentSection.layout) { %>
                        <% if (contentSection.width <= 450) { %>
                           <img src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                        <% } else { %>
                           <img src="<%=contentSection.imagePath450%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                        <% } %>
                    <% } else if ('normal' == contentSection.layout) { %>
                        <img srcset="<%=contentSection.imagePath450%> 450w, <%=contentSection.imagePath650%> 650w" src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                    <% } else if ('big' == contentSection.layout) { %>
                        <img srcset="<%=contentSection.imagePath450%> 450w, <%=contentSection.imagePath650%> 650w, <%=contentSection.imagePath1024%> 1024w, <%=contentSection.imagePath1366%> 1366w" src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                    <% } else if ('cover' == contentSection.layout) { %>
                        <img srcset="<%=contentSection.imagePath450%> 450w, <%=contentSection.imagePath650%> 650w, <%=contentSection.imagePath1024%> 1024w, <%=contentSection.imagePath1366%> 1366w, <%=contentSection.imagePath2560%> 2560w" src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                    <% } %>
                    <noscript><img width="<%=contentSection.width%>" height="<%=contentSection.height%>" src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>"></noscript>
                    <div class="module-image-caption"><span class="caption-text"><%= contentSection.description %></span></div>
                <% } else if('content' == contentSection.type || 'richContent' == contentSection.type || 'summary' == contentSection.type) { %>
                        <%= contentSection.text %>
                <% } else if('video' == contentSection.type) { %>
                    <div class="js-video"><iframe width="<%= contentSection.width%>" height="<%= contentSection.height%>" src="<%=contentSection.url%>" frameborder="0" allowfullscreen></iframe></div>
                <% } else if('gallery' == contentSection.type) { %>
                    <div class="gallery-caption"><span><%= contentSection.images.length %> imágenes</span></div>
                    <ul class="elastislide-list type-gallery js-elastislide-element">
                        <%_.forEach(contentSection.images, function (image) {%>
                        <li><a href="javascript:void(0)">
                          <% if (image.description) { %>
                              <span class="gallery-img-caption"><%=image.description%> </span>
                          <% } %>
                          <img src="<%= image.url %>" alt="" /></a></li>
                        <% }) %>
                    </ul>
                <% } else if('slider' == contentSection.type) { %>
                    <div class="slider-caption"><span><%= contentSection.images.length %> imágenes</span></div>
                    <ul class="elastislide-list type-slider js-elastislide-element" <% if (true == contentSection.autoplay) { %>autoplay<% } %>>
                        <%_.forEach(contentSection.images, function (image) {%>
                        <li><a href="javascript:void(0)">
                          <% if (image.description) { %>
                              <span class="slider-img-caption"><%=image.description%></span>
                          <% } %>
                          <img src="<%= image.url %>" alt="" /></a></li>
                        <% }) %>
                    </ul>
                <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>
