<div class="<%= sectionClasses %>" style="<%=sectionStyles%>">
    <div class="module-content">
        <% if ('small' == layout) { %>
            <% if (width <= 450) { %>
               <img src="<%=src%>" class="<%=classes%>" alt="<%=alt%>" />
            <% } else { %>
               <img src="<%=imagePath450%>" class="<%=classes%>" alt="<%=alt%>" />
            <% } %>
        <% } else if ('normal' == layout) { %>
            <img srcset="<%=imagePath450%> 450w, <%=imagePath650%> 650w" src="<%=src%>" class="<%=classes%>" alt="<%=alt%>" />
        <% } else if ('big' == layout) { %>
            <img srcset="<%=imagePath450%> 450w, <%=imagePath650%> 650w, <%=imagePath1024%> 1024w, <%=imagePath1366%> 1366w" src="<%=src%>" class="<%=classes%>" alt="<%=alt%>" />
        <% } else if ('cover' == layout) { %>
            <img srcset="<%=imagePath450%> 450w, <%=imagePath650%> 650w, <%=imagePath1024%> 1024w, <%=imagePath1366%> 1366w, <%=imagePath2560%> 2560w" src="<%=src%>" class="<%=classes%>" alt="<%=alt%>" />
        <% } %>
        <noscript><img width="<%=width%>" height="<%=height%>" src="<%=src%>" class="<%=classes%>" alt="<%=alt%>"></noscript>
        <% if (description) { %>
            <div class="module-image-caption"><span class="caption-text"><%= description %></span></div>
        <% } %>
    </div>
</div>
