<section class="<%=sectionClasses%>" style="<%=sectionStyles%>">
    <div class="builder-section-content">
        <div class="builder-banner-slide content-position-none" style="background-image: url(&#039;<%=imageUrl%>&#039;);padding-bottom:<%=height%>px;">
            <div class="builder-banner-content">
                <div class="builder-banner-inner-content" style="text-align:center;">
                    <%=bannerText%>
                </div>
            </div>
        </div>
    </div>
</section>