<main>
    <article class="article article-longform">
        <header class="article-header article-longform-header">
            <%= firstSectionHTML %>
        </header>
        <div class="article-metadata-container m-in-longform">
            <div class="article-metadata">
            <time class="article-date" datetime="#DATETIME#" data-format="DD MMMM YYYY HH:mm"></time>
            </div>
        </div>
        <div class="article-social-share m-in-longform">
            <p>Compartir</p>
            <ul>
                <li><a class="btn-facebook">Facebook</a></li>
                <li><a class="btn-twitter">Twitter</a></li>
                <li><a class="btn-email">Email</a></li>
            </ul>
        </div>
        <div class="article-content">
            <%= sectionsHTML %>
        </div>
    </article>
</main>