<section class="<%=sectionClasses%>" style="<%=sectionStyles%>">
    <div class="builder-section-content">
        <%_.forEach(contentSections, function (contentSection, index) {%>
            <div class="builder-text-column builder-text-column-<%= index + 1%>">
                <% if ('image' == contentSection.type) { %>
                    <figure class="builder-text-image">
                        <% if ('small' == contentSection.layout) { %>
                            <% if (contentSection.width <= 450) { %>
                                <img src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                            <% } else { %>
                                <img src="<%=contentSection.imagePath450%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                            <% } %>
                        <% } else if ('normal' == contentSection.layout) { %>
                            <img srcset="<%=contentSection.imagePath450%> 450w, <%=contentSection.imagePath650%> 650w" src="<%=contentSection.imagePath450%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                        <% } else if ('big' == contentSection.layout) { %>
                            <img srcset="<%=contentSection.imagePath450%> 450w, <%=contentSection.imagePath650%> 650w, <%=contentSection.imagePath1024%> 1024w, <%=contentSection.imagePath1366%> 1366w" src="<%=contentSection.imagePath450%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                        <% } else if ('cover' == contentSection.layout) { %>
                            <img srcset="<%=contentSection.imagePath450%> 450w, <%=contentSection.imagePath650%> 650w, <%=contentSection.imagePath1024%> 1024w, <%=contentSection.imagePath1366%> 1366w, <%=contentSection.imagePath2560%> 2560w" src="<%=contentSection.imagePath450%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>" />
                        <% } %>
                        <noscript><img width="<%=contentSection.width%>" height="<%=contentSection.height%>" src="<%=contentSection.src%>" class="<%=contentSection.classes%>" alt="<%=contentSection.alt%>"></noscript>
                    </figure>
                <% } else if('content' == contentSection.type || 'richContent' == contentSection.type) { %>
                    <div class="builder-text-content"><%= contentSection.title %><%= contentSection.text %></div>
                <% } else if('summary' == contentSection.type) { %>
                    <div class="builder-text-content"><blockquote><%= contentSection.text %></blockquote></div>
                <% } else if('video' == contentSection.type) { %>
                    <div class="builder-text-content"><iframe width="<%= width%>" height="<%= height%>" src="<%=videoUrl%>" frameborder="0" allowfullscreen></iframe></div>
                <% } %>
            </div>
        <% }) %>
    </div>
</section>