<section class="<%=sectionClasses%>" style="<%=sectionStyles%>">
    <h3 class="builder-banner-section-title">
        <%= title %>
    </h3>
    <div class="builder-section-content cycle-slideshow" data-cycle-log="false" data-cycle-slides="div.builder-banner-slide" data-cycle-swipe="true" data-cycle-timeout="6000" data-cycle-fx="scrollHorz">
        <%_.forEach(images, function (image) { %>
            <div class="builder-banner-slide content-position-none" style="padding-bottom:<%= image['height']%>px ; background-image: url(&#039;<%= image['url'] %>&#039;);">
                <div class="builder-banner-content">
                    <div class="builder-banner-inner-content">
                        <%= image['text'] %>
                    </div>
                </div>
            </div>
        <% }) %>
        <div class="cycle-prev"></div>
        <div class="cycle-next"></div>
        <div class="cycle-pager"></div>
    </div>
</section>
