<section class="<%=sectionClasses%>" style="<%=sectionStyles%>">
    <div class="builder-section-content">
        <div class="builder-banner-slide content-position-none" style="padding-bottom:<%=bannerHeight%>px;">
            <div class="builder-banner-content">
                <div class="builder-banner-inner-content" style="text-align:center;">
                    <iframe width="<%= width%>" height="<%= height%>" src="<%=videoUrl%>" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>